server:
  port: 3344
spring:
  application:
    name: cloud-config-center
  cloud:
    config:
      server:
        git:
          uri:  https://github.com/492168579/cloud2020/
          username:                                             # git仓库的账号
          password:  
          search-paths:
            - sprincloud-config
eureka:
  client:
    register-with-eureka: true
    serviceUrl:
      defaultZone: http://eureka7001.com:7001/eureka/,http://eureka7002.com:7002/eureka/